@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Script&display=swap');
.nuevo {
    background-image: linear-gradient(orange, black);
    height: 100%;
    width: 100%;
  }
  
  .bebidas {
    border: 2px solid black;
    height: 200px;
    width: 300px;
    margin-left: 5%;
    padding: 10px;
    margin-bottom: 10%;
    background-color: rgb(49, 14, 14);
    
  }
  
  .titulo {
    font-size: 80px;
    text-align: center;
    font-family: 'Luxurious Script', cursive;
    text-shadow: 2px 2px 2px beige;
  }
