


.nosotros{
    height: 100%;
    background-image: url(im_nosot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.row{
    margin: 0;
   
    width: 100%;
   
}
.card{
    margin-top: 10%;
    margin-left: 14%;
    margin-right: 14%;
    height: 420px;
    
}
.card1{
    height: 50%;
}
.card2{
    height: 50%;
}
.card3{
    height: 50%;
}
.card4{
    height: 50%;
}
.card5{
    height: 50%;
}
.card-text{
    padding: 10px;
    margin: 0;
}
.card-body{
    padding: 2px;
    
}
