@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Lora&family=Luxurious+Script&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Lora&family=Luxurious+Script&family=Quintessential&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Script&family=Roboto+Condensed&display=swap");
.producto {
  height: 100%;
  background-image: url(im_producto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.caja1 {
  height: 150px;
  border-radius: 10px;
}

.caja1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.caja2 {
  height: 150px;
}

.caja2:hover {
  background-color: #1d8d8d;
  border-radius: 10px;
}

.big {
  padding: 20px;
}

.c1 {
  background-image: url(brochetas.jpg);
  background-size: cover;
  background-position: center;
}

.c2 {
  background-image: url(ensalada.jpg);
  background-size: cover;
  background-position: center;
}

.c3 {
  background-image: url(croquetas.jpg);
  background-size: cover;
  background-position: center;
}

.c4 {
  background-image: url(roco2.jpg);
  background-size: cover;
  background-position: center;
}

.c5 {
  background-image: url(pescado.jpg);
  background-size: cover;
  background-position: center;
}

.c6 {
  background-image: url(cazuela.jpg);
  background-size: cover;
  background-position: center;
}

.c7 {
  background-image: url(carne.jpg);
  background-size: cover;
  background-position: center;
}

.c8 {
  background-image: url(filete.jpg);
  background-size: cover;
  background-position: center;
}

.c9 {
  background-image: url(selva-negra.jpg);
  background-size: cover;
  background-position: center;
}

.c10 {
  background-image: url(pastel.jpg);
  background-size: cover;
  background-position: center;
}

.c11 {
  background-image: url(flan.jpg);
  background-size: cover;
  background-position: center;
}

.c12 {
  background-image: url(helado.jpg);
  background-size: cover;
  background-position: center;
}

.conta {
  height: 100%;
  background-image: url(im_contacto.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-shadow: 2px 2px 2px white;
}

label {
  color: white;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.mapa {
  width: 100%;
  height: 90%;
}

form {
  width: 100%;
  height: 90%;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  background-color: #2f4141;
}

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
  text-shadow: 2px 2px black;
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

.nosotros {
  height: 100%;
  background-image: url(im_nosot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.row {
  margin: 0;
  width: 100%;
}

.card {
  margin-top: 10%;
  margin-left: 14%;
  margin-right: 14%;
  height: 420px;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-primary {
  margin-left: 32%;
}

.card1 {
  height: 50%;
}

.card2 {
  height: 50%;
}

.card3 {
  height: 50%;
}

.card4 {
  height: 50%;
}

.card5 {
  height: 50%;
}

.card-text {
  padding: 5px;
  margin: 0;
}

.card-body {
  padding: 10px;
}

.galeria {
  height: 100%;
  background-image: url(papel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carousel-inner {
  width: 100%;
  max-height: 500px;
}

.evento {
  width: 100%;
  height: 100%;
  border: 0.5px solid #2a2a49;
}

.ti-galeria {
  font-size: 40px;
}

.parrafo {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#1f1c1c), to(#3e3e5e));
  background-image: linear-gradient(black, #1f1c1c, #3e3e5e);
}

/*Nav-Inicio*/
img {
  height: 80px;
  width: 80px;
}

.nav-link {
  font-size: 15px;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}

.nav-link:hover {
  border: 1.5px solid black;
  background-color: aqua;
  font-size: 17px;
  border-radius: 10px;
  height: auto;
}

.detalles {
  border: 0;
}

.detalles:hover {
  border-radius: 15px;
  -webkit-transform: scale(25deg);
          transform: scale(25deg);
  height: auto;
  background-color: cadetblue;
}

.empresa {
  background-color: white;
}

.navbar-nav {
  padding-left: 70px;
}

h1 {
  font-family: "Quintessential", cursive;
  font-size: 60px;
  text-shadow: 1px 1px #d3d378;
  font-weight: 900;
}

/*Nav-Final*/
/*Jumbotron-Inicio*/
.jumbotron {
  margin: 0 !important;
  border-radius: 0;
}

.sec {
  height: 400px;
  background-image: url(mesa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.white {
  color: beige;
  text-shadow: 3px 3px 3px black;
  margin-left: 60px;
}

.linea-1 {
  font-size: 50px;
}

.sub-linea {
  font-size: 20px;
}

/*Jumbotron-final*/
/*seccion-inicio*/
.hola {
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 40px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 100px;
}

.redes {
  text-decoration: none;
  padding-right: 10px;
  margin-top: 25px;
}

.red-social {
  height: 40px;
  width: 40px;
}

.red-social:hover {
  height: 60px;
  width: 60px;
}
/*# sourceMappingURL=estilos.css.map */