@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lora&family=Luxurious+Script&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lora&family=Luxurious+Script&family=Quintessential&family=Roboto+Condensed&display=swap');



$font1:'Luxurious Script', cursive;
$font2:'Roboto Condensed', sans-serif;
$font3:'Quintessential', cursive;

@import"_productos.scss";
@import"_contacto.scss";
@import"_nosotros.scss";
@import"_galeria.scss";
//inicio-index
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.index {
    height:100%;
    background-image: linear-gradient(black, rgb(31, 28, 28), rgb(62, 62, 94));
}


/*Nav-Inicio*/
img {
    height: 80px;
    width: 80px;
}
.nav-link{
    font-size: 15px;
    border-color: antiquewhite;
    text-shadow: 1px 1px 1px black;
}
.nav-link:hover{
    border: 1.5px solid black;
    background-color: aqua;
    font-size: 20px;
    border-radius: 10px;
    height: auto;
    
    
   
}
.detalles{
    border: 0;
}
.detalles:hover{
    border-radius: 15px;
    transform: scale(25deg);
    height: auto;
    background-color: cadetblue;
}
.empresa{
    background-color: white;
}
.navbar-nav{
    padding-left: 70px;
    
}

h1{
    font-family:$font3;
    font-size: 60px;
    text-shadow:1px 1px rgb(211, 211, 120);
    font-weight: 900;
}

/*Nav-Final*/
/*Jumbotron-Inicio*/
.jumbotron {
    margin: 0 !important;
    border-radius: 0;
    
}

.sec {
    height: 400px;
    background-image: url(mesa.jpg);
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
   
}

.white {
    color: beige;
    text-shadow: 3px 3px 3px black;
    margin-left: 60px;
}
.linea-1{
    font-size: 50px;
}
.sub-linea{
    font-size: 20px;
}


/*Jumbotron-final*/
/*seccion-inicio*/
.hola{
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 40px;
}
//nav-footer

//navegador
.socialIcons{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    height: 100px;
}


.redes{
    text-decoration: none;
    padding-right: 10px;
}

.red-social{
    height: 40px;
    width: 40px;
}
.red-social:hover{
    height: 60px;
    width: 60px;
}
  
 
//final-index