@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Script&family=Roboto+Condensed&display=swap");
.producto {
  height: 100%;
  background-image: url(im_producto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.caja1 {
  height: 150px;
  border: 2px solid black;
}

.caja2 {
  height: 150px;
  border: 2px solid black;
}

.big {
  padding: 20px;
}

.c1 {
  background-image: url(brochetas.jpg);
  background-size: cover;
  background-position: center;
}

.c2 {
  background-image: url(ensalada.jpg);
  background-size: cover;
  background-position: center;
}

.c3 {
  background-image: url(croquetas.jpg);
  background-size: cover;
  background-position: center;
}

.c4 {
  background-image: url(roco2.jpg);
  background-size: cover;
  background-position: center;
}

.c5 {
  background-image: url(pescado.jpg);
  background-size: cover;
  background-position: center;
}

.c6 {
  background-image: url(cazuela.jpg);
  background-size: cover;
  background-position: center;
}

.c7 {
  background-image: url(carne.jpg);
  background-size: cover;
  background-position: center;
}

.c8 {
  background-image: url(filete.jpg);
  background-size: cover;
  background-position: center;
}

.c9 {
  background-image: url(selva-negra.jpg);
  background-size: cover;
  background-position: center;
}

.c10 {
  background-image: url(pastel.jpg);
  background-size: cover;
  background-position: center;
}

.c11 {
  background-image: url(flan.jpg);
  background-size: cover;
  background-position: center;
}

.c12 {
  background-image: url(helado.jpg);
  background-size: cover;
  background-position: center;
}

.conta {
  height: 100%;
  background-image: url(im_contacto.jpg);
}

.contact {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  text-shadow: 2px 2px 2px white;
}

label {
  color: white;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
}

.nosotros {
  height: 100%;
  background-image: url(im_nosot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.row {
  margin: 0;
}

.card {
  margin-left: 60px;
  margin-top: 30px;
  height: 420px;
}

.card1 {
  height: 50%;
}

.card2 {
  height: 50%;
}

.card3 {
  height: 50%;
}

.card4 {
  height: 50%;
}

.card5 {
  height: 50%;
}

.card-text {
  padding: 10px;
  margin: 0;
}

.card-body {
  padding: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index {
  height: 100vh;
  background-image: linear-gradient(orange, black);
}

/*Nav-Inicio*/
img {
  height: 80px;
  width: 80px;
}

.navbar-nav {
  padding-left: 70px;
}

h1 {
  font-family: "Luxurious Script", cursive;
  font-size: 60px;
  text-shadow: 2px 2px 2px white;
}

/*Nav-Final*/
/*Jumbotron-Inicio*/
.jumbotron {
  margin: 0 !important;
  border-radius: 0;
}

.sec {
  height: 400px;
  background-image: url(mesa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.white {
  color: beige;
  text-shadow: 3px 3px 3px darkred;
}

/*Jumbotron-final*/
/*seccion-inicio*/
.caja {
  padding: 0;
  border: 2px solid black;
  background-image: linear-gradient(darkred, orange);
}

p {
  padding: 30px;
}

.libre {
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  /*ANIMACION*/
  animation-name: tiempo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes tiempo {
  0% {
    transform: scale 1;
  }
  100% {
    transform: scale(1.5);
  }
}
.foter {
  justify-content: space-evenly;
}

.socialIcons {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
}

.redes {
  text-decoration: none;
  padding-right: 10px;
}

.red-social {
  height: 40px;
  width: 40px;
}

/*# sourceMappingURL=estilos.css.map */
